[submodule "ns-mirror"]
	path = ns-mirror
	url = git@github.com:AmbiqAI/ns-mirror.git
[submodule "modules/ns-sensors"]
	path = modules/ns-sensors
	url = git@github.com:AmbiqAI/ns-sensors.git
[submodule "modules/ns-physiokit"]
	path = modules/ns-physiokit
	url = git@github.com:AmbiqAI/ns-physiokit.git
[submodule "modules/ns-tileio"]
	path = modules/ns-tileio
	url = git@github.com:AmbiqAI/ns-tileio.git
[submodule "modules/ns-as7058"]
	path = modules/ns-as7058
	url = git@github.com:AmbiqAI/ns-as7058.git
